@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

*{
    margin: 0;
}

@font-face {
    font-family: main;
    src: url(fonts/DMSans-VariableFont_opsz\,wght.ttf);
}

:root{
    --primary: #0ae448;
    --secondary:  #dfdcff;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background: #0e100f;
    overflow-x: hidden;
    font-family: main;
}


body::-webkit-scrollbar {
    width: 4px;
}
  
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
  
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary);
}

header{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

nav > a{
    font-size: 22px;
    line-height: 140%;
    font-weight: 600;
    text-decoration: none;
    color: #0ae448;
}

.header-underline{
    height: 1px;
    width: 100%;
    background: radial-gradient(var(--primary), #0e100f 50%);
}

section{
    margin: 50px 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.container{
    height: 100%;
    width: 80%;
    margin: 50px 0px;
}

.container > h1 {
    width: 100%;
    font-size: 72px;
    margin-top: 2rem;
    margin-left: 2rem;
    color: var(--secondary);
}

h1 > span{
    font-size: 120%;
}

h1 > img {
    position: absolute;
    margin-left: -5.5rem;
    margin-top: -.5rem;
    z-index: -1;
}

.content{
    color:#dfdcff;
    display: flex;
    flex: 1 1 0;
    width: 100%;
}

.content-left, .content-right{
    width: 50%;
}

.content-left > img{
    padding-top: 6rem;
    padding-left: 6rem;
    border-radius: 26% 74% 56% 44% / 44% 42% 58% 56% ;
}

.content-right > p{
    font-size: 24px;
}

@media(max-width: 640px){
    .container{
        display: flex;
        flex-direction: column;
    }
}
